/* Augmentation de la taille des icônes "Validé" vert sur la page suivi.html */

.chackmark.v2 li .icon-check-circle {
    font-size: 2.2em !important;
}

.chackmark.v2 li i.my-icon.icon-check-circle {
    font-size: 2.2em !important;
}

